{% extends 'mypage/layout.html' %}

{% block main %}
<div class="account_add_first__wrapper">
  <div class="account_add_first__text">
    <div class="account_add_first__text__container">
      <p class="account_add_first__text__content">インスタグラムアカウントは必ず以下の設定を行ってください。</p>
      <ul class="account_add_first__text__check">
        <li>ビジネスアカウントに切り替える。</li>
        <li>ダイレクトメッセージの一般タブを空にする</li>
        <li>非公開アカウントの設定を解除する。</li>
      </ul>
    </div>
    {% load static %}
    <img class="account_add_first__image" src="{% static 'images/Instagram_face.svg' %}" alt="">
  </div>
  <div class="account_add_first__form">
    <h2 class="login_title">アカウント追加</h2>
    <form class="login" action="./account_add_proccess" method="POST">
      {% csrf_token %}
      <div class="login_field">
        <label class="required" for="">ユーザーネーム</label>
        {{ form.user_name }}
        {{ form.errors|yesno:'*,' }}
      </div>
      <div class="login_field">
        <label class="required" for="">パスワード</label>
        {{ form.password }}
        {{ field.errors|yesno:'*,' }}
      </div>
      <div class="login_field">
        <label class="required">パスワード(再入力)</label>
        {{ form_sub.password2 }}
        {{ field.errors|yesno:'*,' }}
      </div>
      <button class="login__button" type="submit" name="button">アカウント追加</button>
    </form>
  </div>
</div>
{% endblock %}
