{% extends 'mypage/layout.html' %}

{% block main %}
<h2 class="page_title">フォロワー総覧</h2>
<div class="follower_show__wrapper">
  <div class="board follower_show__level">
    <div class="board_title">
      <h3>フォロワー</h3>
    </div>
    <div class="follower_show__level__list">
      {% for sended_account in sended_accounts reversed %}
      {% if sended_account.account_level_id == 1 %}
      <a href="https://instagram.com/{{ sended_account.user_name }}">
        <div class="follower_show__level__list__content">
          <p class="follower_show__level__list__content__name">{{sended_account.user_name}}</p>
          <p class="follower_show__level__list__content__date">{{ sended_account.created_at }}</p>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="board follower_show__level">
    <div class="board_title">
      <h3>ファン</h3>
    </div>
    <div class="follower_show__level__list">
      {% for sended_account in sended_accounts reversed %}
      {% if sended_account.account_level_id == 2 %}
      <a href="https://instagram.com/{{ sended_account.user_name }}">
        <div class="follower_show__level__list__content">
          <p class="follower_show__level__list__content__name">{{sended_account.user_name}}</p>
          <p class="follower_show__level__list__content__date">{{ sended_account.created_at }}</p>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="board follower_show__level">
    <div class="board_title">
      <h3>ゲスト</h3>
    </div>
    <div class="follower_show__level__list">
      {% for sended_account in sended_accounts reversed %}
      {% if sended_account.account_level_id == 3 %}
      <a href="https://instagram.com/{{ sended_account.user_name }}">
        <div class="follower_show__level__list__content">
          <p class="follower_show__level__list__content__name">{{sended_account.user_name}}</p>
          <p class="follower_show__level__list__content__date">{{ sended_account.created_at }}</p>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="board follower_show__level">
    <div class="board_title">
      <h3>リピーター</h3>
    </div>
    <div class="follower_show__level__list">
      {% for sended_account in sended_accounts reversed %}
      {% if sended_account.account_level_id == 4 %}
      <a href="https://instagram.com/{{ sended_account.user_name }}">
        <div class="follower_show__level__list__content">
          <p class="follower_show__level__list__content__name">{{sended_account.user_name}}</p>
          <p class="follower_show__level__list__content__date">{{ sended_account.created_at }}</p>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
