{% extends 'mypage/layout.html' %}

{% block main %}
<div class="login_form__wrapper">
  <h2 class="login_title">ログイン</h2>
  <form class="login" action="./login_process" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="login_field">
      {{ field.label_tag }}<br/>
      {{ field }}
      {{ field.errors|yesno:'*,' }}
    </div>
    {% endfor %}
    <button class="login__button" type="submit" name="button">ログイン</button>
  </form>
  <a class="login__switch" href="{% url 'signup' %}">新規登録する></a>
</div>
{% endblock %}
