{% extends 'mypage/layout.html' %}

{% block main %}
<h2 class="content__title">{{ template_type.name }} 新規追加</h2>
{% if template_type.id == 1 %}
<form class="login" action="./template_follow_add_proccess" method="post" enctype="multipart/form-data">
{% elif template_type.id == 2 %}
<form class="login" action="./template_guest_add_proccess" method="post" enctype="multipart/form-data">
{% elif template_type.id == 3 %}
<form class="login" action="./template_repeater_add_proccess" method="post" enctype="multipart/form-data">
{% else %}
<form class="login" action="./template_campaign_add_proccess" method="post" enctype="multipart/form-data">
{% endif %}
  {% csrf_token %}
  <div class="template_edit__form__wrapper">
    <div class="template_edit__form__option">
      <div class="template_field">
        <label for="">テンプレート名</label>
        {{ template_add_form.name }}
      </div>
      <div class="template_field">
        <label for="">有効にしますか？</label>
        {{ template_add_form.valid }}
      </div>
    </div>
    <div class="template_edit__form__content">
      <div class="template_field">
        <label for="">メッセージ内容</label>
        {{ template_add_text_form.content }}
      </div>
      <div class="template_field">
        {{ template_add_file_form.file_name }}
        <label for="id_file_name">クーポン画像を選択する</label>
      </div>
      <button class="template__button" type="submit" name="button">保存する</button>
    </div>
  </div>
</form>
{% endblock %}
